# ShellCheck configuration for netutility scripts
# Disable warnings that are acceptable in this codebase

# SC1090: Can't follow non-constant source
# SC1091: Not following sourced files - shellcheck can't follow relative paths
# SC2016: Expressions don't expand in single quotes (intentional)
# SC2119: Use function with parameters (called elsewhere)
# SC2120: Function references parameters but none passed (called with params elsewhere)
# SC2126: Consider using grep -c instead of grep|wc -l
# SC2153: Possible misspelling - uppercase variables are intentional
# SC2162: read without -r - intentional for simple user input
# SC2164: Use cd ... || exit in case cd fails
# SC2181: Check exit code directly instead of $?
# SC2188: Redirection doesn't affect command
# SC2207: Array assignments from command output
# SC2221: Pattern matches multiple values in case
# SC2222: Pattern always overrides previous pattern in case
# SC2254: Quote expansions in case patterns to match literally
# SC2329: Expanding array without index produces 1 or multiple words
# SC2012: ls parsing - acceptable for this use case
# SC2028: echo may not expand escape sequences
# SC2034: Unused variables - may be used in sourced scripts
# SC2086: Word splitting - intentional in some cases
# SC2094: Redirecting to same file
# SC2129: Individual redirects instead of grouped - clearer in context
# SC2235: Subshell syntax - clearer for complex conditions
# SC3014: In POSIX sh, array references are undefined
# SC3030: In POSIX sh, -v is undefined
# SC3037: In POSIX sh, echo flags are undefined
# SC3043: In POSIX sh, local is undefined
# SC3054: In POSIX sh, array assignment is undefined
# SC3059: Case modification ${var^^} - works on target systems

disable=SC1090,SC1091,SC2016,SC2119,SC2120,SC2126,SC2153,SC2162,SC2164,SC2181,SC2188,SC2207,SC2221,SC2222,SC2254,SC2329,SC2012,SC2028,SC2034,SC2086,SC2094,SC2129,SC2235,SC3014,SC3030,SC3037,SC3043,SC3054,SC3059
